<% if (error.length > 0) { %>
  <div class="alert alert-danger"><%= error %></div>
<% } %>

<% if (locals.errors) {%>
  <% errors.forEach(function (error) {%> 
    <div class="alert alert-danger"><%= error.text %></div>
  <% }) %>
<% } %>
