<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bookr - organize your books!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css"
  </head>

<body>

<% include nav %>

<div class="container">
  <% include msg %>
  <% include errors %>


