<nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #C2A878;">
  <div class="container">
    <a class="navbar-brand" href="/"><strong>Bookr</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews">Reviews</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link"><strong><%= user.email %></strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
          <a class="nav-link" href="/users/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>