<% include ./partials/head %>

<div class="text-center">
<h1>Track your books and share reviews with others</h1>

<a href="/users/register" class="btn btn-primary mb-3">Register</a>
<a href="/users/login" class="btn btn-primary mb-3">Login</a>

</div>

<% include ./partials/footer %>