<% include ../partials/head %>

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body home-color">
      <h3 class="text-center">Account Login</h3>
      <form action="/users/login" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="enter your email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="enter your password" name="password" required>
        </div>
        <button type="submit" class="btn btn-dark dark-brown-color btn-block">Login</button>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>